Source: fonts-uralic
Section: fonts
Priority: optional
Maintainer: Debian Fonts Task Force <debian-fonts@lists.debian.org>
Uploaders: Hideki Yamane <henrich@debian.org>,
Build-Depends: debhelper-compat (= 13), unzip
Standards-Version: 4.5.0
Vcs-Git: https://salsa.debian.org/fonts-team/fonts-uralic.git
Vcs-Browser: https://salsa.debian.org/fonts-team/fonts-uralic
Homepage: http://peoples.org.ru/eng_uralic.html
Rules-Requires-Root: no

Package: fonts-uralic
Architecture: all
Multi-Arch: foreign
Depends: ${misc:Depends}
Description: Truetype fonts for Cyrillic-based Uralic languages
 The Uralic fonts contain additional letters used in most Uralic languages
 with Russian-based writing systems - Khanty (all dialects), Komi,
 Mansi (without marking long vowels), Mari, Nenets, Selkup and Udmurt.
 The fonts also support Altai, Chukchi, Even, Evenki, Koryak and Nanai.
 .
 Font list:
    * Bookman Uralic (regular, bold, italic)
    * Chancery Uralic - Decorative calligraphic font
    * Gothic Uralic (regular, bold) - Futura-like sans serif
    * Mono Uralic (regular) - Courier-like fixed width font
    * Palladio Uralic (regular, bold, italic) - Palatino-like typeface
    * Roman Uralic (regular, bold, italic) - Times-like typeface
    * Sans Uralic (regular, bold, italic, bold italic) - Helvetica-like
      sans serif typeface
    * Sans Condensed Uralic (regular, bold) - Narrow version of Sans Uralic
    * Schoolbook Uralic (regular, bold, italic)
 .
 These fonts cover the ISO10646-1 and CP1251 charsets.
